table {
	border: 0.5px white;
}

td:hover {
	background-color: gold;
	color:black;
}

tr, th {
	background-color: darkgreen;
	color:ghostwhite;
}

tr, td {
	background-color: lightgreen;
	color:black;
}